<% layout('/layouts/admin') -%>
<!-- partial -->
<div class="container-fluid page-body-wrapper">
  <div class="row row-offcanvas row-offcanvas-right">
    <div class="content-wrapper">
      <div class="row user-profile">
          <div class="col-lg-10 side-right">
            <div class="card">
              <div class="card-body">
                <div class="wrapper">
            </div>
          </div>
      </div>
      <a class="btn btn-primary btn-lg" href='javascript:;'  role="button"></a>
      </div>
      </div>
    </div>
    </div>
    </div>
