<% layout('/layouts/layout') -%>
<div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar navbar-primary col-lg-12 col-12 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper">
                <a class="navbar-brand brand-logo" href="#">
                  <img src="/images/nombrelogo.png" alt="nombre logo" width="60%">
                  <img src="/images/iconlogo.png" alt="icono logo" width="17%">
                </a>
                <a class="navbar-brand brand-logo-mini" href="#"><img src="/images/iconlogo.png" alt="icono logo" width="50%"></a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center">
                <button class="navbar-toggler navbar-toggler align-self-center mr-2" type="button" data-toggle="minimize">
                    <span class="mdi mdi-menu"></span>
                </button>
                <div class="nav-profile">
                  <span>Hola, Dave Mattew</span>
                  <img src="/images/faces/face6.jpg" />
                </div>
                      <ul class="navbar-nav mt-2 mt-md-0 d-none d-lg-block ml-lg-auto">
                        <li class="nav-item dropdown">
                        <a type="button" class="btn btn-primary" href="/logout">Salir</a>
                        </li>
                    </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="mdi mdi-menu"></span>
                  </button>
            </div>
            

        </nav>
    
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
          <div class="row row-offcanvas row-offcanvas-right">
            <!-- partial:partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <!--main pages start-->
                    <li class="nav-item nav-category">
                        <span class="nav-link">General</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="/home">
                            <i class="mdi mdi-home"></i>
                            <span class="menu-title">Inicio</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#layoutsVacacion" aria-expanded="false" aria-controls="collapseExample">
                            <i class="mdi mdi-beach"></i>
                            <span class="menu-title">Vacacion</span>
                            <i class="mdi mdi-chevron-down"></i>
                        </a>
                        <div class="collapse" id="layoutsVacacion">
                                <ul class="nav flex-column sub-menu">
                                        <li class="nav-item">
                                            <a class="nav-link" href="/jerarquia">Prescribir Vacaciones</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/vacacion/saldo/formulario">Saldo de Vacaciones</a>
                                        </li>
                
                                    </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#layoutsBoleta" aria-expanded="false" aria-controls="collapseExample">
                            <i class="mdi mdi-clock"></i>
                            <span class="menu-title">Boleta</span>
                            <i class="mdi mdi-chevron-down"></i>
                        </a>
                        <div class="collapse" id="layoutsBoleta">
                                <ul class="nav flex-column sub-menu">
                                        <li class="nav-item">
                                            <a class="nav-link" href="/boleta/formulario">Boleta</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/vacacion/saldo/formulario">Tipo Boleta</a>
                                        </li>
                                </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#sidebarLayoutsSubmenu" aria-expanded="false" aria-controls="collapseExample">
                            <i class="mdi mdi-format-list-bulleted"></i>
                            <span class="menu-title">General</span>
                            <i class="mdi mdi-chevron-down"></i>
                        </a>
                        <div class="collapse" id="sidebarLayoutsSubmenu">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item">
                                    <a class="nav-link" href="pages/layout/sidebar-compact.html">Area</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="pages/layout/sidebar-collapsed.html">Funcionario</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="pages/layout/sidebar-hidden.html">Reporte General</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="pages/layout/sidebar-hidden-overlay.html">Reportes Altas y Bajas</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="pages/layout/sidebar-fixed.html">Reporte por Genero</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="pages/layout/horizontal_menu.html">Reportes por Jerarquia</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <!--main pages end-->
                 </ul>
            </nav>
            <%- body -%>
        <!-- page-body-wrapper ends -->
      </div>