<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Recursos Humanos</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/css/perfect-scrollbar.min.css">


  <link rel="stylesheet" href="/css/materialdesignicons.css">
  
  
  




  <!-- jsgrid:css -->
  <link type="text/css" rel="stylesheet" href="/css/jsgrid.min.css" >
  <link type="text/css" rel="stylesheet" href="/css/jsgrid-theme.min.css" >
  <link type="text/css" rel="stylesheet" href="/css/dataTables.bootstrap4.css" >

  <!-- endinject -->
  <!-- inject:css -->
  <link rel="stylesheet" href="/css/style.css">
  <link type="text/css" href="/css/bootstrap-datepicker.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="/images/iconlogo.png" >
   <%- block('style').toString() %>
</head>

<body>
  <%- body -%>
  <!-- container-scroller -->
  <!-- plugins:js -->
  
  


  <script src="/js/jquery.min.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/bootstrap-datepicker.min.js"></script>
  <script src="/js/perfect-scrollbar.jquery.min.js"></script>

   <!-- jsgrid.js -->
  <script type="text/javascript" src="/js/jsgrid.min.js"></script>

  <script type="text/javascript" src="/js/dataTables.bootstrap4.js"></script>

  <script type="text/javascript" src="/js/jquery.dataTables.js"></script>
  <script src="/js/data-table.js"></script>
  
  <!-- endinject -->
  <!-- inject:js -->
  <script src="/js/off-canvas.js"></script>
  <script src="/js/hoverable-collapse.js"></script>
  <script src="/js/misc.js"></script>

  <script src="/js/script.js"></script>
  <!-- endinject -->
  <script>
    $(document).ready(function(){
      url_servidor = 'http://localhost:3000/';
      $( "#fecha-saldo-vacacion").val(getCurrentDate());
      $( "#panel-personal").hide();
      
      $( "#form-saldo-vacacion" ).submit(function( event ) {
        area = $( "#areas-select-vacacion option:selected" ).val();
        fecha = $( "#fecha-saldo-vacacion").val();
        tipo = $('input[name=tipo_personal]:checked').val();

        $( "#panel-personal").show();
        //Ajax jquery
				$.ajax({
						type: 'GET',
				    contentType: 'application/json',
            url: url_servidor+'area',						
            success: function(areas) {
                  $('#table-saldo > tbody tr').remove();
                  $( "#panel-personal").show(); 
                  $.each(areas, function (key, area) {
                    //console.log(area.id);

                      $.ajax({
                          type: 'GET',
                          contentType: 'application/json',
                          url: url_servidor+'empleado/'+area.id +'/area',						
                          success: function(empleado_areas) {
                              if(empleado_areas.length>0){
                                //console.log('Area:'+area.desc_area+' N Empleados:'+empleado_areas.length );
                                $.each(empleado_areas, function (key, empleado_area) {
                                  $.ajax({
                                      type: 'GET',
                                      contentType: 'application/json',
                                      url: url_servidor+'empleado/'+empleado_area.id+'/saldovacacion',						
                                      success: function(empleado_saldos) {
                                        // console.log(area.desc_area);
                                        tabla = '<tr>'
                                            +'<td colspan="7"><h2>'+area.desc_area+'</h2></td>'
                                            +'</tr>';
                                        ci_empleado = '';
                                        saldo_vacaciones_total = 0;
                                        $.each(empleado_saldos, function (key, empleado_saldo) {
                                            saldo_vacaciones_total += empleado_saldo.dias
                                        });
                                        $.each(empleado_saldos, function (key, empleado_saldo) {
                                            console.log(empleado_saldo);
                                            
                                            if(ci_empleado !== empleado_saldo.ndi ){
                                              tabla += '<tr><td>'+empleado_saldo.ndi+'</td>'
                                                    +'<td>'+empleado_saldo.nombres+' '+empleado_saldo.paterno+' '+empleado_saldo.materno+'</td>'
                                                    +'<td>'+empleado_saldo.cargo+'</td>'
                                                    +'<td>'+empleado_saldo.fecha_ingreso+'</td>'
                                                    +'<td></td>'
                                                    +'<td>'+saldo_vacaciones_total+' dias</td>'
                                                    +'<td>'+'<b>Gestion</b>: '+empleado_saldo.gestion+'- <b>Dias Vacacion</b>: '+empleado_saldo.dias+'</td></tr>';
                                            }else{
                                              tabla +='<tr><td></td><td></td><td></td><td></td><td></td><td></td>'
                                                +'<td>'+'<b>Gestion</b>: '+empleado_saldo.gestion+'- <b>Dias Vacacion</b>: '+empleado_saldo.dias+'</td></tr>';
                                            }
                                            ci_empleado = empleado_saldo.ndi;
                                        });

                                        $('#table-saldo > tbody:last-child').append(tabla);
                                      }
                                  });
                                });
                              }
                          }
                      });
                  })

            }
        });
        event.preventDefault();
      });
    });

    function getCurrentDate(){
      var today = new Date();
      var dd = today.getDate();
      var mm = today.getMonth()+1; //January is 0!

      var yyyy = today.getFullYear();
      if(dd<10){
          dd='0'+dd;
      } 
      if(mm<10){
          mm='0'+mm;
      } 
      var today = dd+'/'+mm+'/'+yyyy;
      return today;
    }
  </script>


<script>
    $(document).ready(function(){
      url_servidor = 'http://localhost:3000/';
      $( "#fecha-inicio-boletas").val(getCurrentDate());
      $( "#panel-boletas").hide();
      $( "#form-administrar-boletas" ).submit(function( event ) {
        tipo_boleta = $( "#tipo-boletas option:selected" ).val();
        fecha_inicio = $( "#fecha-inicio-boletas").val();
        fecha_fin = $( "#fecha-fin-boletas").val();
        console.log(fecha_inicio+tipo_boleta+fecha_fin);
        $("#panel-boletas").show();
        //Ajax jquery
			
        event.preventDefault();
      });
    });

</script> 
    <%- block('javascript').toString() %>
</body>


</html>