<% layout('/layouts/layout') -%>
<div class="container-scroller">
  <div class="container-fluid page-body-wrapper">
    <div class="row">
      <div class="content-wrapper full-page-wrapper auth-pages login-2">
        <div class="card col-lg-4">
          <div class="card-body px-5 py-5">
            <div class="login-logo text-center">
              <a href=""><img src="/images/logomdpyep.png" width="250" ></a>
            </div>
              <%if (typeof errors !== 'undefined') { %>
                <div class="alert alert-warning text-center" role="alert">
                <% errors.forEach(function(error){ %>
                  <%= error.msg %></br>
                <% }); %>
               </div> 
              <% } %>
              <%if (success_msg.length > 0 ) { %>
                <div class="alert alert-warning text-center" role="alert">
                  <%= success_msg %>
                </div>
              <% } %>
              <%if (error_msg.length > 0 ) { %>
                <div class="alert alert-warning text-center" role="alert">
                  <%= error_msg %>
                </div>
              <% } %>
              <%if (error.length > 0 ) { %>
                <div class="alert alert-warning text-center" role="alert">
                  <%= error %>
                </div>
              <% } %>
            <form method="post" action="/login">
              <div class="form-group">
                <label>Usuario *</label>
                <input type="text" class="form-control" name="username">
              </div>
              <div class="form-group">
                <label>Password *</label>
                <input type="password" class="form-control" name="password">
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-primary btn-block enter-btn">Ingresar</button>
              </div>
            </form>
            <div class="alert alert-secondary" role="alert">
                <h4 class="alert-heading">Password Nuevo Usuarios</h4>
                <p>- Si es la primera vez que entra a este sistema la CONSTRASEÑA por defecto es:</p>
                <p class="text-center"><kbd>12345</kbd></kbd></p>
              </div>

          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- row ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>