<% layout('/layouts/admin') -%>
        <!-- partial -->
        <div class="content-wrapper">
          <div class="row justify-content-md-center">
                <div class="col-sm-12 col-lg-10 grid-margin">
                  <div class="card">
                      <div class="card-body">
                          <h2 class="card-title">Reporte Saldo de Vacaciones</h2>
                          <form id="form-saldo-vacacion">
                              <div class="form-group row">

                                  <label for="area" class="col-sm-3 col-form-label">Area:</label>
                                  <div class="col-sm-8">
                                    <select class="form-control" id="areas-select-vacacion">
                                       <% for(var i=0; i< areas.length; i++) { %>
                                            <option value="<%= areas[i].id %>"><%= areas[i].desc_area %></option>
                                        <% } %>
                                    </select>
                                  </div>
                              </div>
                              <div class="form-group row">
                                  <label for="fecha reporte" class="col-sm-3 col-form-label">Fecha Reporte:</label>
                                  <div class="col-sm-8">
                                    <div class="input-group date datepicker b-l-blue">
                                        <input type="text" class="form-control" name="fecha" id="fecha-saldo-vacacion">
                                        <div class="input-group-addon">
                                        <span class="mdi mdi-calendar-blank"></span>
                                        </div>
                                    </div>
                                  </div>
                              </div>
                            <div class="form-group row">
                                <label for="fecha reporte" class="col-sm-3 col-form-label">Tipo Personal:</label>
                                <div class="col-sm-8">
                                    <div class="form-radio">
                                        <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="tipo_personal" value="activo" checked>
                                            Personal Activo
                                        </label>
                                    </div>
                                    <div class="form-radio">
                                        <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="tipo_personal" value="inactivo">
                                            Personal Inactivo
                                        </label>
                                    </div>
                                    <div class="form-radio">
                                        <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="tipo_personal" value="todos">
                                            Personal Activo/Inactivo
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 text-center"> 
                              <button type="submit" class="btn btn-primary">Buscar Personal</button>
                            </div>
                          </form>
                      </div>
                  </div>
              </div>
              <div class="col-lg-12 grid-margin grid-margin-lg-0" id="panel-personal">
              <div class="card">
                <div class="card-body">
                  <h3 class="card-title text-center">Saldo de Vacaciones<br>al 10/10/2017</h3>
                  <table class="table">
                    <thead >
                      <tr>
                        <th class="table-dark">CI</th>
                        <th class="table-dark">Nombre</th>
                        <th class="table-dark">Cargo</th>
                        <th class="table-dark">Fecha Ingreso</th>
                        <th class="table-dark">CAS</th>
                        <th class="table-dark">Saldo</th>
                        <th class="table-dark">Gestion Pendientes</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td colspan="7"><h2>UNIDAD DE DASARROLLO NORMATIVO</h2></td>
                      </tr>
                      <tr>
                        <td>60123245</td>
                        <td>Maria Sanches Rivera</td>
                        <td>Resonsable tecnico desarrollo</td>
                         <td>10/10/2014</td>
                         <td>2 años</td>
                        <td>30 dias</td>
                        <td>
                            <b>Gestion</b> 2016 - <b>Vacacion:</b> 10 dias <br>
                            <b>Gestion</b> 2017 - <b>Vacacion:</b> 5 dias <br>
                        </td>
                      </tr>
                      <tr>
                        <td>60123245</td>
                        <td>Maria Sanches Rivera</td>
                        <td>Resonsable tecnico desarrollo</td>
                         <td>10/10/2014</td>
                         <td>2 años</td>
                        <td>30 dias</td>
                        <td>
                            <b>Gestion</b> 2016 - <b>Vacacion:</b> 10 dias <br>
                            <b>Gestion</b> 2017 - <b>Vacacion:</b> 5 dias <br>
                        </td>
                      </tr>
                      <tr>
                        <td>60123245</td>
                        <td>Maria Sanches Rivera</td>
                        <td>Resonsable tecnico desarrollo</td>
                         <td>10/10/2014</td>
                         <td>2 años</td>
                        <td>30 dias</td>
                        <td>
                            <b>Gestion</b> 2016 - <b>Vacacion:</b> 10 dias <br>
                            <b>Gestion</b> 2017 - <b>Vacacion:</b> 5 dias <br>
                        </td>
                      </tr>
                      <tr>
                        <td colspan="7"><h2>UNIDAD DE GESTION INTEGRADA</h2></td>
                      </tr>
                      <tr>
                        <td>60123245</td>
                        <td>Maria Sanches Rivera</td>
                        <td>Resonsable tecnico desarrollo</td>
                         <td>10/10/2014</td>
                         <td>2 años</td>
                        <td>30 dias</td>
                        <td>
                            <b>Gestion</b> 2016 - <b>Vacacion:</b> 10 dias <br>
                            <b>Gestion</b> 2017 - <b>Vacacion:</b> 5 dias <br>
                        </td>
                      </tr>
                      <tr>
                        <td>60123245</td>
                        <td>Maria Sanches Rivera</td>
                        <td>Resonsable tecnico desarrollo</td>
                         <td>10/10/2014</td>
                         <td>2 años</td>
                        <td>30 dias</td>
                        <td>
                            <b>Gestion</b> 2016 - <b>Vacacion:</b> 10 dias <br>
                            <b>Gestion</b> 2017 - <b>Vacacion:</b> 5 dias <br>
                        </td>
                      </tr>
                      <tr>
                        <td colspan="7"><h2>DESPACHO</h2></td>
                      </tr>
                      <tr>
                        <td>60123245</td>
                        <td>Maria Sanches Rivera</td>
                        <td>Resonsable tecnico desarrollo</td>
                         <td>10/10/2014</td>
                         <td>2 años</td>
                        <td>30 dias</td>
                        <td>
                            <b>Gestion</b> 2016 - <b>Vacacion:</b> 10 dias <br>
                            <b>Gestion</b> 2017 - <b>Vacacion:</b> 5 dias <br>
                        </td>
                      </tr>
                      <tr>
                        <td>60123245</td>
                        <td>Maria Sanches Rivera</td>
                        <td>Resonsable tecnico desarrollo</td>
                         <td>10/10/2014</td>
                         <td>2 años</td>
                        <td>30 dias</td>
                        <td>
                            <b>Gestion</b> 2016 - <b>Vacacion:</b> 10 dias <br>
                            <b>Gestion</b> 2017 - <b>Vacacion:</b> 5 dias <br>
                        </td>
                      </tr>
                    </tbody>
                  </table>

                </div>
              </div>
            </div>
          </div>
        </div
