<% layout('/layouts/admin') -%>
<div class="container-fluid page-body-wrapper">
        <div class="row row-offcanvas row-offcanvas-right">
          <!-- partial -->
          <div class="content-wrapper">
            <div class="row user-profile">
                <div class="col-lg-10 side-right">
                  <div class="card">
                    <div class="card-body">
                        <center><h2 class="card-title">Referencias Personales de Trabajo</h2></center>
                      <div class="field_wrapper">
                          <br>
                          <h2 class="card-title">Referencias Personales registradas</h2>
                        <table class="table">
                          <tr>
                            <th>Nombre</th>
                            <th>Relascion (Parentesco, Amistad, etc.)</th>
                            <th>Telefono</th>
                            <th></th>
                            <th></th>
                          </tr>
                          <tr>
                              <td>aaa</td>
                              <td>aaa</td>
                              <td>aaa</td>
                              <td><button>Editar</button></td>
                              <td><button>Eliminar</button></td>
                          </tr>
                        </table>
                        <br><br><br><br>
                        <h2 class="card-title">Registrar Nueva Referencia</h2>
                        <form class="cmxform" id="registrodependiente" method="post" action="">
                          <div>
                                          
                                        <h2 class="card-title">Referencias Personales de Trabajo</h2>
                                        <div class="row">
                                        <div class="col">
                                        <div class="form-group">
                                        <label for="name">Nombre</label>
                                        <input name="nombre" type="text" class="form-control" id="refnomb" placeholder="Nombre">
                                        </div>
                                        </div>
                                        <div class="col">
                                        <div class="form-group">
                                        <label for="address">Relacion</label>
                                        <input name="relacion" id="refrelac" rows="6" class="form-control" placeholder="Relacion">
                                        </div>
                                        </div>
                                        <div class="col">
                                        <div class="form-group">
                                        <label for="address">Telefono</label>
                                        <input name="telefono" id="telfrelac" rows="6" class="form-control" placeholder="Telefono">
                                        </div>
                                        </div>
                                        </div>                                   
      
                                <div class="row">
                                    <div class="col">
                                    <div class="form-group">
                                    <button type="submit" class="btn btn-success mr-2">Añadir</button>
                                    <button class="btn btn-outline-danger">Cancelar</button>
                                    </div>
                                    </div>
                                    </div>
                                </div>
                        </form>
                        
                      </div>
                    </div>
                    <div class="card-body">
                            <center><h2 class="card-title">Referencias de Trabajo</h2></center>
                          <div class="field_wrapper">
                              <br>
                              <h2 class="card-title">Referencias de Trabajo Registradas</h2>
                            <table class="table">
                              <tr>
                                <th>Nombre</th>
                                <th>Institucion</th>
                                <th>Telefono</th>
                                <th></th>
                                <th></th>
                              </tr>
                              <tr>
                                  <td>aaa</td>
                                  <td>aaa</td>
                                  <td>aaa</td>
                                  <td><button>Editar</button></td>
                                  <td><button>Eliminar</button></td>
                              </tr>
                            </table>
                            <br><br><br><br>
                            <h2 class="card-title">Registrar Nueva Referencia de Trabajo</h2>
                            <form class="cmxform" id="registrodependiente" method="get" action="">
                              <div>
                                      <form action="">
                                              
                                            <h2 class="card-title">Referencias de Trabajo</h2>
                                            <div class="row">
                                            <div class="col">
                                            <div class="form-group">
                                            <label for="name">Nombre</label>
                                            <input name="nombre" type="text" class="form-control" id="refnomb" placeholder="Nombre">
                                            </div>
                                            </div>
                                            <div class="col">
                                            <div class="form-group">
                                            <label for="address">Institucion</label>
                                            <input name="institucion" id="refrelac" rows="6" class="form-control" placeholder="institucion">
                                            </div>
                                            </div>
                                            <div class="col">
                                            <div class="form-group">
                                            <label for="address">Telefono</label>
                                            <input name="telefono" id="telfrelac" rows="6" class="form-control" placeholder="telefono">
                                            </div>
                                            </div>
                                            </div>                                   
          
                                    <div class="row">
                                        <div class="col">
                                        <div class="form-group">
                                        <button type="submit" class="btn btn-success mr-2">Añadir</button>
                                        <button class="btn btn-outline-danger">Cancelar</button>
                                        </div>
                                        </div>
                                        </div>
                                    </div>
                            </form>
                          </div>
                        </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
      