<% layout('/layouts/admin') -%>
<div class="container-fluid page-body-wrapper">
  <div class="row row-offcanvas row-offcanvas-right">
    <!-- partial -->
    <div class="content-wrapper">
      <div class="row user-profile">
          <div class="col-lg-10 side-right">
            <div class="card">
              <div class="card-body">
                  <center><h2 class="card-title">Registro de Dependientes</h2></center>
                <div class="field_wrapper">
                    <br>
                    <h2 class="card-title">Dependientes Registrados</h2>
                    <form class="cmxform" method="post" action="">
                  <table class="table">
                    <tr>
                      <th>Nombres y Apellidos</th>
                      <th>Relacion de Dependencia</th>
                      <th></th>
                      <th></th>
                    </tr>
                        <% for(var i=0; i< dependientes.length; i++) { %>
                          <tr>
                        <td><%= dependientes[i].nombres, dependientes[i].paterno, dependientes[i].materno  %></td>
                        <td><%= dependientes[i].desc_otro %></td>
                        <td><button>Editar</button></td>
                        <td><button>Eliminar</button></td>
                      </tr>
                      <% } %>
                  </table>
                </form>

                  <br><br><br><br>
                  <h2 class="card-title">Registrar Nuevo Dependiente</h2>
                  <form class="cmxform" id="registrodependiente" method="post" action="/ficha_personal/identificacion_personal3">
                    <div>
                        <div class="row">
                          <div class="col">
                          <div class="form-group">
                          <label for="name">Apellido Paterno</label>
                          <input name="paterno" type="text" class="form-control" id="nomapellidos" placeholder="paterno">
                          </div>
                          </div>
                          <div class="col">
                            <div class="form-group">
                            <label for="name">Apellido Materno</label>
                            <input name="materno" type="text" class="form-control" id="nomapellidos" placeholder="materno">
                            </div>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col">
                            <div class="form-group">
                            <label for="name">Nombres</label>
                            <input name="nombres" type="text" class="form-control" id="nomapellidos" placeholder="nombres">
                            </div>
                            </div>
                            </div>
                  
                          <div class="row">
                          <div class="col">
                          <div class="form-group">
                          <label for="name">Sexo</label>
                              <div class="form-radio">
                                  <label class="form-check-label">
                                    <input name="sexo" type="radio" class="form-check-input" name="optionsRadios" id="sexodependientem" value="M" checked>
                                    Masculino
                                  </label>
                              </div>
                              <div class="form-radio">
                                  <label class="form-check-label">
                                    <input name="sexo" type="radio" class="form-check-input" name="optionsRadios" id="sexodependientef" value="F">
                                    Femenino
                                  </label>
                              </div>
                          </div>
                          </div>
                          </div>


                          <div class="row">
                          <div class="col">
                          <div class="form-group">
                          <label for="address">Fecha de Nacimiento</label>
                          <div class="input-group date datepicker b-l-blue">
                              <input name="fecha_nacimiento" type="text" class="form-control">
                              <div class="input-group-addon">
                                <span class="mdi mdi-calendar-blank"></span>
                              </div>
                            </div>
                          </div>
                          </div>
                          <div class="col">
                          <div class="form-group">
                          <label for="address">N° de Documento de Identificacion</label>
                          <input name="ndi" id="ndi" rows="6" class="form-control" placeholder="N° de Documento de Identificacion">
                          </div>
                          </div>
                          <div class="col">
                            <label for="name">Expedido en</label>
                            <select name="expedido" class="form-control" style="width:100%">
                            <option value="lp">La Paz</option>
                            <option value="cbba">Cochabamba</option>
                            <option value="stc">Santa Cruz</option>
                            <option value="tj">Tarija</option>
                            <option value="O">Oruro</option>
                            <option value="ch">Chuquisaca</option>
                            <option value="B">Beni</option>
                            <option value="P">Pando</option>
                            <option value="Pt">Potosi</option>
                            <option value="Pt">Otro</option>
                            </select>
                            </div>
                          </div>
                  
                          <div class="row">
                          <div class="col">
                          <div class="form-group">
                          <label for="name">Tipo de Documento de Respaldo de la Relacion de Dependencia</label>
                          <select name="tipo_documento" class="form-control" style="width:100%">
                              <option value="matr">Certificado de Matrimonio</option>
                              <option value="librfam">Libreta Familiar</option>
                              <option value="certnac">Certificado de Nacimiento</option>
                              <option value="otros">Otros</option>
                              </select>
                          </div>
                          </div>
                          <div class="col">
                          <div class="form-group">
                          <label for="address">N° De Documento de la Relacion de Dependencia</label>
                          <input name="num_doc_depen" id="nrodocdependencia" rows="6" class="form-control" placeholder="N° Identificacion Personal">
                          </div>
                          </div>
                          </div>

                              <div class="row">
                              <div class="col">
                              <div class="form-group">
                              <label for="name">Descripcion de Relacion de Dependencia</label>
                              <input name="descripcion"class="form-control" placeholder="Descripcion Relacion de Dependencia">
                              </div>
                              </div>
                              </div>
                              <br><br><br><br>

                          <div class="row">
                              <div class="col">
                              <div class="form-group">
                              <button type="submit" class="btn btn-success mr-2">Añadir</button>
                              <button class="btn btn-outline-danger">Cancelar</button>
                              </div>
                              </div>
                              </div>
                          </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>


    