<% layout('/layouts/admin') -%>
                <!-- partial -->
                <div class="container-fluid page-body-wrapper">
                  <div class="row row-offcanvas row-offcanvas-right">
            
                    <!-- partial -->
                    <div class="content-wrapper">
                      <div class="row user-profile">
                          <div class="col-lg-10 side-right">
                            <div class="card">
                              <div class="card-body">
                                <div class="wrapper d-block d-sm-flex align-items-center justify-content-between">
                                  <h2 class="card-title">Registro de Ficha Personal</h2>
                                  <ul class="nav nav-tabs flex-column flex-sm-row" id="FichaPersonalTab" role="tablist">
                                    <li class="nav-item">
                                      <a class="nav-link" id="datospersonalestab" data-toggle="tab" href="
                                      #identificacionpersonal" role="tab" aria-controls="identificacionpersonal">Identificacion Personal</a>
                                    </li>
                                    <li class="nav-item">
                                      <a class="nav-link" id="datospersonales1tab" data-toggle="tab" href="#datospersonales1" role="tab" aria-controls="datospersonales1">Datos Personales I</a>
                                    </li>
                                    <li class="nav-item">
                                      <a class="nav-link" id="datospersonales2tab" data-toggle="tab" href="#datospersonales2" role="tab" aria-controls="datospersonales2">Datos Personales II</a>
                                    </li>
                                  </ul>
                                </div>
                                <div class="wrapper">
                                  <hr>
                                  <form class="cmxform" id="registropersonal" method="post" action="/ficha_personal/identificacion_personal">
                                  <div class="tab-content" id="myTabContent">
                                    <!-- tab identificacion personal -->
                                    <div class="tab-pane fade show active" id="identificacionpersonal" role="tabpanel" aria-labelledby="profile-tab">
                                      <div class="container">
                                      <h1 class="card-title">Identificacion Personal </h1>
            
                                              <div class="row">
                                              <div class="col">
                                              <div class="form-group">
                                                <label for="name">Primer Nombre</label>
                                                <input name="nombre" type="text" class="form-control" id="nombre" placeholder="Primer Nombre">
                                              </div>
                                              </div>
                                              <div class="col">
                                                <div class="form-group">
                                                  <label for="name">Segundo Nombre</label>
                                                  <input name="segnombre" type="text" class="form-control" id="nombre" placeholder="Segundo Nombre">
                                                </div>
                                              </div>
                                              </div>
            
            
                                              <div class="row">
                                              <div class="col">
                                              <div class="form-group">
                                                <label for="mobile">Primer Apellido</label>
                                                <input name="priapellido" type="text" class="form-control" id="priapellido" placeholder="Primer Apellido">
                                              </div>
                                              </div>
                                              <div class="col">
                                              <div class="form-group">
                                                <label for="email">Segundo Apellido</label>
                                                <input name="segapellido" class="form-control" id="segapellido" placeholder="Segundo Apellido">
                                              </div>
                                              </div>
                                              </div>
            
            
                                              <div class="row">
                                              <div class="col-6">
                                              <div class="form-group">
                                                <label for="name">Apellido de casada</label>
                                                <input name="casapellido" type="text" class="form-control" id="casapellido" placeholder="Apellido de Casada">
                                              </div>
                                              </div>
                                              </div>
            
                                              <div class="row">
                                              <div class="col">
                                              <div class="form-group">
                                                <label for="name">Numero de Carnet de identidad</label>
                                                <input name="ci" type="text" class="form-control" id="ci" placeholder="Numero de Carnet de Identidad">
                                              </div>
                                              </div>
                                              <div class="col">
                                              <label for="name">Expedido en</label>
                                              <select name="expedido" class="form-control" style="width:100%">
                                              <option value="lp">La Paz</option>
                                              <option value="cbba">Cochabamba</option>
                                              <option value="stc">Santa Cruz</option>
                                              <option value="tj">Tarija</option>
                                              <option value="O">Oruro</option>
                                              <option value="ch">Chuquisaca</option>
                                              <option value="B">Beni</option>
                                              <option value="P">Pando</option>
                                              <option value="Pt">Potosi</option>
                                              </select>
                                              </div>
                                              </div>
            
                                                <div class="row">
                                                <div class="col-6">
                                                <div class="form-group">
                                                <label for="name">Pais</label>
                                                <input name="paisci" type="text" class="form-control" id="paisci" placeholder="Pais">
                                              </div>
                                              </div>
                                              <div class="col">
                                                  <div class="form-group">
                                                  <label for="address">Fotografia</label>
                                                  <input name="foto" type="file" class="dropify" data-max-file-size="1mb" data-height = "120" data-default-file="../../images/faces/silueta.jpeg"/>
                                                  </div>
                                                  </div>
                                              </div>
                                              

                                              <br><br><br><br><br><br><br><br><br>
                                        
                                        </div>
                                        </div>
                                    <!-- tab identificacion personal ends -->
                                    <!-- tab datospersonales1 -->

                                    <div class="tab-pane fade" id="datospersonales1" role="tabpanel" aria-labelledby="dropdown1-tab">
                                      <div class="container">
                                      <h1 class="card-title">Datos Personales I</h1>
                                      <h1 class="card-title">Lugar de Nacimiento</h1>
            
            
                                                  <div class="row">
                                                    <div class="col">
                                                      <div class="form-group">
                                                        <label for="name">Provincia</label>
                                                        <input name="provincia" type="text" class="form-control" id="provincia" placeholder="Provincia">
                                                      </div>
                                                      </div>
                                                      <div class="col">
                                                        <div class="form-group">
                                                          <label for="name">Departamento</label>
                                                          <input name="departamento" type="text" class="form-control" id="departamento" placeholder="Departamento">
                                                        </div>
                                                        </div>
                                                  </div>
          
          
                                                  <div class="row">
                                                    <div class="col">
                                                      <div class="form-group">
                                                        <label for="name">Nacionalidad</label>
                                                        <input name="nacionalidad" type="text" class="form-control" id="nacionalidad" placeholder="Nacionalidad">
                                                      </div>
                                                      </div>
                                                  <div class="col">
                                                  <div class="form-group">
                                                    <label for="name">Pais</label>
                                                    <input name="paisnac" type="text" class="form-control" id="Paisnac" placeholder="Pais">
                                                  </div>
                                                  </div>
                                                  </div>
                
                                                  <div class="row">
                                                  <div class="col">
                                                    <label for="name">Fecha de Nacimiento</label>
                                                    <div class="input-group date datepicker b-l-blue">
                                                      <input name="fecnac" type="text" class="form-control">
                                                      <div class="input-group-addon">
                                                        <span class="mdi mdi-calendar-blank"></span>
                                                      </div>
                                                    </div>
                                                  </div>
                                                  <div class="col"></div>
                                                  </div>


                                          </div>
                                          </div>
                                        <!-- tab datospersonales1 ends -->
                                        <!-- tab datospersonales2 -->

                                        <div class="tab-pane fade" id="datospersonales2" role="tabpanel" aria-labelledby="dropdown1-tab">
                                            <div class="container">
                                        <h1 class="card-title">Datos Personales II</h1>
            
            
                                              <div class="row">
                                                <div class="col">
                                                <div class="form-group">
                                                    <label for="name">Sexo</label>
                                                    <div class="form-radio">
                                                      <label class="form-check-label">
                                                          <input type="radio" class="form-check-input" name="sexo" id="sexo" value="M" checked>
                                                          Masculino
                                                        </label>
                                                    </div>
                                                    <div class="form-radio">
                                                        <label class="form-check-label">
                                                          <input type="radio" class="form-check-input" name="sexo" id="sexo" value="F">
                                                          Femenino
                                                        </label>
                                                    </div>
                                                </div>
                                                </div>
                                                <div class="col"><div class="form-group">
                                                  <label for="name">Grupo Sanguineo</label>
                                                  <input name="sangre" type="text" class="form-control" id="gsanguineo" placeholder="Grupo Sanguineo">
                                                </div>
                                                </div>
                                                </div>
              
                                                <div class="row">
                                                <div class="col">
                                                <div class="form-group">
                                                  <label for="name">Estado Civil</label>
                                                  <input name="ecivil" type="text" class="form-control" id="ecivil" placeholder="Estado Civil">
                                                </div>
                                                </div>
                                                <div class="col">
                                                <div class="form-group">
                                                  <label for="name">N째 Libreta de Servicio Militar</label>
                                                  <input name="lmilitar" type="text" class="form-control" id="lmilitar" placeholder="N째 de Libreta de Servicio Militar">
                                                </div>
                                                </div>
                                                </div>
                                                
                                                <h1 class="card-title">Direccion Domicilio</h1>
              
              
              
                                                <div class="row">
                                                <div class="col-8">
                                                <div class="form-group">
                                                <label for="name">Calle o Avenida</label>
                                                <input name="calle" type="text" class="form-control" id="calle" placeholder="Calle o Avenida">
                                                </div>
                                                </div>
                                                <div class="col-3">
                                                <div class="form-group">
                                                <label for="name">N째</label>
                                                <input name="num" type="text" class="form-control" id="num" placeholder="N째">
                                                </div>
                                                </div>
                                                </div>
              
                                                <div class="row">
                                                <div class="col">
                                                <div class="form-group">
                                                <label for="name">Nombre Edificio</label>
                                                <input name="nedificio" type="text" class="form-control" id="nedificio" placeholder="Nombre Edificio">
                                                </div>
                                                </div>
                                                <div class="col">
                                                <div class="form-group">
                                                <label for="name">Piso</label>
                                                <input name="piso" type="text" class="form-control" id="piso" placeholder="Piso">
                                                </div>
                                                </div>
                                                </div>
              
                                                <div class="row">
                                                <div class="col">
                                                <div class="form-group">
                                                <label for="name">Depto</label>
                                                <input name="depto" type="text" class="form-control" id="depto" placeholder="Departamento">
                                                </div>
                                                </div>
                                                <div class="col">
                                                <div class="form-group">
                                                <label for="address">Zona</label>
                                                <input name="zona" id="zona" rows="6" class="form-control" placeholder="zona">
                                                </div>
                                                </div>
                                                </div>
              
                                                <div class="row">
                                                <div class="col">
                                                <div class="form-group">
                                                <label for="address">Telefono Domicilio</label>
                                                <input name="tdomicilio" id="tdomicilio" rows="6" class="form-control" placeholder="Telefono Domicilio">
                                                </div>
                                                </div>
                                                <div class="col">
                                                <div class="form-group">
                                                <label for="address">Telefono Celular</label>
                                                <input name="tcelular" id="tcelular" rows="6" class="form-control" placeholder="Telefono Celular">
                                                </div>
                                                </div>
                                                </div>
              
                                                <div class="row">
                                                <div class="col">
                                                <div class="form-group">
                                                <label for="address">Casilla</label>
                                                <input name="casilla" id="casilla" rows="6" class="form-control" placeholder="Casilla">
                                                </div>
                                                </div>
                                                <div class="col">
                                                <div class="form-group">
                                                <label for="address">E'mail Personal</label>
                                                <input name="emailp" id="emailp" rows="6" class="form-control" placeholder="E'mail Personal">
                                                </div>
                                                </div>
                                                </div>
              
                                                <div class="row">
                                                <div class="col">
                                                <div class="form-group">
                                                <label for="address">E'mail Trabajo</label>
                                                <input name="emailt" id="emailt" rows="6" class="form-control" placeholder="E'mail Trabajo">
                                                </div>
                                                </div>
                                                </div>

                                                    <div class="row">
                                                    <div class="col">
                                                    <div class="form-group">
                                                    <button type="submit" class="btn btn-success mr-2">Guardar</button>
                                                    <button class="btn btn-outline-danger">Cancelar</button>
                                                    </div>
                                                    </div>
                                                    </div> 
                                          </div>
                                        </div>
                              </div>
                                  </form>
                            </div>
                          </div>
                      </div>
                      </div>
                      </div>
                    </div>
                    </div>
