<% layout('/layouts/admin') -%>
<div class="container-fluid page-body-wrapper">
  <div class="row row-offcanvas row-offcanvas-right">
    <!-- partial -->
    <div class="content-wrapper">
      <div class="row user-profile">
          <div class="col-lg-10 side-right">
            <div class="card">
              <div class="card-body">
                  <center><h2 class="card-title">Registro de Dependientes</h2></center>
                <div class="field_wrapper">
                    <br>
                    <h2 class="card-title">Dependientes Registrados</h2>
                  <table class="table">
                    <tr>
                      <th>Nombres y Apellidos</th>
                      <th>Relacion de Dependencia</th>
                      <th></th>
                      <th></th>
                    </tr>
                    <tr>
                        <td>aaa</td>
                        <td>aaa</td>
                        <td><button>Editar</button></td>
                        <td><button>Eliminar</button></td>
                    </tr>
                  </table>
                  <br><br><br><br>
                  <h2 class="card-title">Registrar Nuevo Dependiente</h2>
                  <form class="cmxform" id="registrodependiente" method="get" action="">
                    <div>
                        <div class="row">
                          <div class="col">
                          <div class="form-group">
                          <label for="name">Nombres y Apellidos</label>
                          <input type="text" class="form-control" id="nomapellidos" placeholder="Nombres y Apellidos">
                          </div>
                          </div>
                          </div>
                  
                          <div class="row">
                          <div class="col">
                          <div class="form-group">
                          <label for="name">Sexo</label>
                              <div class="form-radio">
                                  <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="optionsRadios" id="sexodependientem" value="M" checked>
                                    Masculino
                                  </label>
                              </div>
                              <div class="form-radio">
                                  <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="optionsRadios" id="sexodependientef" value="F">
                                    Femenino
                                  </label>
                              </div>
                          </div>
                          </div>
                          </div>
                          <div class="row">
                          <div class="col">
                          <div class="form-group">
                          <label for="address">Fecha de Nacimiento</label>
                          <div class="input-group date datepicker b-l-blue">
                              <input type="text" class="form-control">
                              <div class="input-group-addon">
                                <span class="mdi mdi-calendar-blank"></span>
                              </div>
                            </div>
                          </div>
                          </div>
                          <div class="col">
                          <div class="form-group">
                          <label for="address">N° de Documento de Identificacion</label>
                          <input name="address" id="Nrodidependiente" rows="6" class="form-control" placeholder="N° de Documento de Identificacion">
                          </div>
                          </div>
                          </div>
                  
                          <div class="row">
                          <div class="col">
                          <div class="form-group">
                          <label for="name">Tipo de Documento de Respaldo de la Relacion de Dependencia</label>
                          <select class="js-example-basic-single" style="width:100%">
                              <option value="matr">Certificado de Matrimonio</option>
                              <option value="librfam">Libreta Familiar</option>
                              <option value="certnac">Certificado de Nacimiento</option>
                              <option value="otros">Otros</option>
                              </select>
                          </div>
                          </div>
                          <div class="col">
                          <div class="form-group">
                          <label for="address">N° De Documento de la Relacion de Dependencia</label>
                          <input name="address" id="nrodocdependencia" rows="6" class="form-control" placeholder="N° Identificacion Personal">
                          </div>
                          </div>
                          </div>

                          <div class="row">
                              <div class="col">
                              <div class="form-group">
                              <button type="submit" class="btn btn-success mr-2">Añadir</button>
                              <button class="btn btn-outline-danger">Cancelar</button>
                              </div>
                              </div>
                              </div>
                          </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>


    